<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="header">
	    <meta charset="UTF-8">
	    <meta name="description" content="">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	
	    <!-- Title  -->
	    <title>JonnyGo</title>
	
	    <!-- Favicon  -->
	    <link rel="icon" th:href="@{/images/core-img/favicon.ico}">
	
	    <!-- Core Style CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
	    <link rel="stylesheet" th:href="@{~/css/core-style.css}">
	    <link rel="stylesheet" th:href="@{~/css/style.css}">
		
	</head>	
	<body>	
	</body>
</html>