<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Footer</title>
	</head>

	<body>
		<!-- ##### Newsletter Area Start ##### -->
	    <section th:fragment="newsletter" class="newsletter-area section-padding-100-0">
	        <div class="container">
	            <div class="row align-items-center">
	                <!-- Newsletter Text -->
	                <div class="col-12 col-lg-6 col-xl-7">
	                    <div class="newsletter-text mb-100">
	                        <h2>Subscribe for a <span>25% Discount</span></h2>
	                        <p>Jonny Go is an extended family, and though our family is diverse, every branch has the same values and the same goal of making the world a better place through cycling.</p>
	                    </div>
	                </div>
	                <!-- Newsletter Form -->
	                <div class="col-12 col-lg-6 col-xl-5">
	                    <div class="newsletter-form mb-100">
	                        <form action="#" method="post">
	                            <input type="email" name="email" class="nl-email" placeholder="Your E-mail">
	                            <input type="submit" value="Subscribe">
	                        </form>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	 </body>
</html>