<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/base-template}">
	
<div class="amado_product_area section-padding-100" layout:fragment="content" id="content">


<br/>
<br/>
<h4>Misija: To create, enhance and protect great places to ride bikes.</h4>
<br/>

<h4>Vision: Everyone has a place to ride a bike.</h4>
<br/>

<h3>We believe: Biking changes lives and makes communities better.</h3>
<br/>
<p>
Bike Shop is an extended family, and though our family is diverse, every branch has the same values and the same goal of making the world a better place through cycling.</p>
<h3>Raised on Rocket Science</h3>
<p>
The path to superior performance is paved with curiosity. In 1980, Bike Shop was founded on a question: Why are no high-performance bikes made? 
Today, we give the brightest and most passionate cycling designers and researchers the resources to question everything. 
Because innovation happens only when you have the courage to ask the hard questions and go where no one has gone before. To lead, you must invent.</p>


<iframe width="1124" height="768" src="https://www.youtube.com/embed/d2sCSt-6_Mo" frameborder="0" allow="autoplay; encrypted-media"></iframe>
<br/>
<h3>Sizing Guide</h3>
<p>Choosing the bike size depends on the type of bike, your height, your riding style, and your preference. A correct fitting bike will be more comfortable, more efficient and more fun to ride. 
This bike size guide gives our customers general advice on choosing the right size. It is a guide only and we always recommend visiting one of our stores</p>
<br/>
<h4>Measure your height</h4>
<br/>
<p>To find the correct sized bike you will need to measure your height and your inside leg. For your height, stand against a wall and mark the wall with a pencil so it's level with the top of your head. 
Then measure from the ground up to the mark (having someone to help might make this easier). For your inside leg measurement, stand against a wall and using a book hold it in between your legs into your groin and make sure it's flat against the wall. 
Measure the height from the book to the floor. (Again it might be easier to get a friend to help). If your height is on the cusp of the size range, your reach is often the deciding factor in which size to go for. To find out if you have short or long reach you will need to measure your ape index.
This is your arm span minus your height. If you have a positive ape index then go for the larger size, or if you have a negative ape index go for a smaller size.</p> <br/>
<h4>The type of bike</h4><br/>
<p>

What type of bike you choose will affect the bike size you buy. The type or style of riding that you do will also affect which size you need. 
For example a mountain biker that wants to ride more aggressively and would like a more manoeuvrable bike may prefer a size smaller than they would normally take. 
Likewise a cross country racer that is looking for a flatter and speedier mountain bike may prefer a size larger than they would normally take. 
There is no definitive right or wrong size, it all comes down to personal preference and what feels comfortable.
</p><br/>
<h4>How are bikes measured?</h4>
<p>Bikes are measured by their seat tube length. This measurement is normally from the centre of the bottom bracket (BB) or the centre of the bolt that attached the crank arms. 
This differs by brand, some measure to the top of where the top tube meets the seat tube, or even the centre of the top tube. Mountain bikes are either measured in inches or descriptive sizes (small, medium etc). 
Road bikes are in centimetres or descriptive sizes where as Hybrid bikes can be any one of the three. Bikes also get longer as they go up in size (relative to the frame size) but different brands can be inherently longer or shorter than others.</p><br/>
<h4>Stand over height</h4><br/>
<p>Stand over height is how tall the frame is from the ground. Stand over height measurements are to the top of the top-tube. Ideally you want at least 2cm of clearance between you and the frame. In theory your stand over height is your leg measurement minus 2cm.
 It it worth measuring your inside leg with your shoes on so you can establish your stand over height. Should you need to jump off the saddle quickly, the clearance between you and the frame will prevent any injuries.</p>

  <img src="/Images/sizing-1.png" alt="Sizing" style="width:1124px;height:768px;border:0;">


</div>

</html>